// Quake Live Server Configuration

set sv_hostname "Hector Quake Live Server"
set net_ip "$QL_NET_IP"
set net_port "$QL_NET_PORT"
set rconPassword "$QL_RCON_PASSWORD"
set sv_idleExit "0"

set g_voteFlags "0"
set sv_allowDownload "1"
set sv_maxclients "16"
map campgrounds
